@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Red Hat Display', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hover-underline-animation {
  position: relative;
  color: rgba(255, 255, 255, 0.87);
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -5px;
  left: 0;
  background: linear-gradient(90deg, rgba(102,0,204,1) 0%, rgba(179,0,89,1) 100%);
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.hover-underline-animation:hover::after {
  visibility: visible;
  width: 100%;
}

.bg-img-login {
  background-image: url('./assets/login-bg.png');
  background-size: cover;
  background-position: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #474747;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .2s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #7a0099;
}

input:checked + .slider:before {
  transform: translateX(26px);
}


@media (min-width: 3500px) {
  html {
    font-size: 200%;
  }
}

@media (max-width: 1130px) {
  html {
    font-size: 70%;
  }
}
